*{
  margin: 0;
  padding: 0;
  font-family: 'DM Mono', monospace;
}

html, body{
  height: 100%;
}

body{
  background: radial-gradient(black, #111111);
}

#our_logo{
    color: white;
    font-size: 2;
     white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
}

.square {
    background: white;
    width: 8px;
    height: 14px;
    align-self:flex-end ;
}

.newdiv{
    display: flex;
  flex-direction: row;
}
.flex-center{
  display: flex;

}

.root{
  color: green;
  width: 100%;
/*   background-color: grey; */
  max-height: 100%;
  font-size: 16px;
}

.control{
  height: 10%;
/*   background-color:red; */
  display: flex;
  justify-content: flex-end;
}

.control span{
  cursor: pointer;
}

.hidden{
  visibility: hidden;
}